::-webkit-scrollbar {
  display: none;
}

.c-item {
    height: 300px;
}

body {
    background-color: #212529;
    oveflow: scroll;
}

.c-img {
   height: 100%;
   object-fit: cover;
   filter: brightness(0.6)
}

.overview {
   height: 180px;
   background-color: #0d6efd;
}

.bi-people {
    font-size: 64px;
    color: white
}

.bi-card-text {
    font-size: 64px;
    color: white
}

.bi-coin {
    font-size: 64px;
    color: white
}

.text {
    color: white
    font-size: 40px;
}