    body {
      background-color: #0d6efd;
    }
    .profile-img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
    .btn-primary {
      background-color: #6c757d;
      border-color: #6c757d;
    }
    .btn-primary:hover {
      background-color: #495057;
      border-color: #495057;
    }
    .card-header {
      background-color: #212529;
      color: #fff;
    }
    .card-body {
      font-size: 1.2rem;
    }