{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Crypto Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/crypto_buy.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container mt-5">
        <div class="box p-5">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{form.errors}} below.
            </p>
        {% endif %}
        <h1 class="text-center mb-4">Add Cryptocurrency Form</h1>
        <form method="post" action="{% url 'add_cryptocurrency_form' %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                <div class="form-group">
                 <label for="name">Name:</label>
                 <input type="text" class="form-control mb-3" id="name" name="name" required>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="price">Price:</label>
                <input type="number" step=".01" class="form-control mb-3" id="price" name="price" required>
            </div>
            <div class="form-group mb-3">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="category">Select category:</label>
                <select class="form-select" id="category" name="category" aria-label="Floating label select example" required>
                    {% for category in categories %}
                        <option>{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100" data-toggle="modal" data-target="#congratsModal">Add</button>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>