{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crypto_Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
  <div class="container pt-5">
    <div class="box p-5">
            {% if request.session.role == 'A' %}
              <a href="{% url 'add_cryptocurrency' %}" class="btn btn-m btn-primary m-3">Add cryptocurrency</a>
              <a href="{% url 'add_category' %}" class="btn btn-m btn-primary">Add category</a>
            {% endif %}
          <table id="example" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th class="centered">#</th>
                <th class="centered">Name</th>
                <th class="centered">Price</th>
                <th class="centered">Category</th>
                <th class="centered">Options</th>
              </tr>
            </thead>
              <tbody id="tableBody_cryptocurrencies">
                {% for cryptocurrency in cryptocurrencies %}
                  <tr>
                    <td>{{ cryptocurrency.id }}</td>
                    <td>{{ cryptocurrency.name }}</td>
                    <td>{{ cryptocurrency.price }} Kč</td>
                    <td>{{ cryptocurrency.category.name }}</td>
                    <td>
                      <a href="{% url 'crypto_detail' cryptocurrency.pk %}" class="btn btn-m btn-primary">Detail</a>
                      {% if not request.session.login %}
                      <a href="/register" class="btn btn-m btn-success">Buy</a>
                      <a href="/register" class="btn btn-m btn-danger">Sell</a>
                      {% else %}
                      <a href="{% url 'crypto_buy' cryptocurrency.pk %}" class="btn btn-m btn-success">Buy</a>
                      <a href="{% url 'crypto_sell' cryptocurrency.pk %}" class="btn btn-m btn-danger">Sell</a>
                        {% if cryptocurrency in list %}
                          <a href="{% url 'delete_from_watchlist' cryptocurrency.pk %}" class="btn btn-m btn-secondary">Delete from watchlist</a>
                        {% else %}
                          <a href="{% url 'add_to_watchlist' cryptocurrency.pk %}" class="btn btn-m btn-secondary">Add to watchlist</a>
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  <script defer src="{% static 'js/crypto_dashboard.js' %}"></script>
</body>