{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cryptocurrency Detail Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-1F8zvNT9RJyF45uimK5U6NO5u6nNznpnBRu3NkSqEQ8vkrX9Ony0ik99y3qmvw+yJ0aC2RZ71x48drqqycJZVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/crypto_detail.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    canvas {
      height: 500px;
    }
  </style>
</head>
<body>
  <div class="container mb-5 mt-5">
    <div class="box p-5">
    <h1>{{cryptocurrency.name}}</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'img/bitcoin.png' %}" alt="Bitcoin Logo" class="img-fluid" style="height: 300px;">
      </div>
      <div class="col-md-6">
        <p class="lead">{{cryptocurrency.description}}</p>
        <p><strong>Price: </strong>{{cryptocurrency.price}}</p>
        <p><strong>Category: </strong> {{cryptocurrency.category.name}}</p>
      </div>
    </div>
    <hr>
    <canvas id="myChart" height="200" width="800"></canvas>
  </div>
  </div>
</body>
  <script>
    // Get the data from an API or other source
    const data = {
       labels: [
      {% for i in cryptocurrency_history %}
        '{{i.modified_at|date:'d M Y' }}',
        {% endfor %}
        ],
      datasets: [{
        label: '{{cryptocurrency.name}} Price (CZK)',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
       data: [
      {% for i in cryptocurrency_history %}
        '{{i.new_price}}',
        {% endfor %}
        ],
      }]
    };

    // Create the chart using Chart.js
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {}
    });
  </script>
</html>