{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Transaction Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container mt-5">
        <div class="box p-5">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{form.errors}} below.
            </p>
        {% endif %}
        <h1 class="text-center mb-3">Edit Transaction Form</h1>
        <form method="post" action="{% url 'edit_transaction_form' transaction.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group mb-2">
                 <label for="date_transaction">Date of transaction:</label>
                 <input type="date" class="form-control" id="date_transaction" name="date_transaction" value="{{transaction.date_transaction|date:'Y-m-d'}}" required>
                </div>
                <label>Select Crypto:</label>
                <select class="form-select mb-3" id="cryptocurrency" name="cryptocurrency" aria-label="Floating label select example" required>
                    <option>{{transaction.cryptocurrency.name}}</option>
                    {% for cryptocurrency in cryptocurrencies %}
                    <option>{{cryptocurrency.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="amount">Amount to buy:</label>
                <input type="number" step=".01" class="form-control" id="amount" name="amount" placeholder="Enter amount" value="{{transaction.amount_cryptocurrency}}"  required>
            </div>
            <div class="form-group mb-3">
                <label for="type">Select type transaction:</label>
                <select class="form-select" id="type" name="type" aria-label="Floating label select example" required>
                    <option>{{transaction.type}}</option>
                    {% if transaction.type == 'Buy' %}
                    <option>Sell</option>
                    {% else %}
                    <option>Buy</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="payment">Select payment method:</label>
                <select class="form-select" id="payment" name="payment" aria-label="Floating label select example" required>
                    <option>Credit Card</option>
                    <option>Paypal</option>
                    <option>Bank Transfer</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100" data-toggle="modal" data-target="#congratsModal">Edit</button>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>