{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container mt-5">
        <div class="box p-5">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{form.errors}} below.
            </p>
        {% endif %}
        <h1 class="text-center mb-3">Edit Profile Form</h1>
        <form method="post" action="{% url 'edit_profile_form' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group mb-2">
                 <label for="fname">First name:</label>
                 <input type="text" class="form-control" id="fname" name="fname" value="{{user.fname}}" required>
                </div>
                <div class="form-group mb-2">
                 <label for="lname">Last name:</label>
                 <input type="text" class="form-control" id="lname" name="lname" value="{{user.lname}}" required>
                </div>
                <div class="form-group mb-2">
                 <label for="email">Email:</label>
                 <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
                </div>
            <button type="submit" class="btn btn-primary w-100 mt-2" data-toggle="modal" data-target="#congratsModal">Edit</button>
            </div>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>