{% load static %}
{% include "navbar.html" %}

<html>
<head>
  <title>Dashboard</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Number of transactions</h5>
            <p class="card-text">{{ transaction_count }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Number of favourite cryptocurrencies</h5>
            <p class="card-text">{{ favorite_count }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Množství peněz</h5>
            <p class="card-text">{{final_total}} Kč</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-5">
    <div class="row">
    <div class="box p-5">
      <h3 class="card-title mb-4">My transactions</h3>
          <table id="example" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th class="centered">#</th>
                <th class="centered">Date</th>
                <th class="centered">Amount</th>
                <th class="centered">Type</th>
                <th class="centered">Cryptocurrency</th>
                <th class="centered">Options</th>
              </tr>
            </thead>
              <tbody id="tableBody_cryptocurrencies">
                {% for transaction in transactions %}
                  <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.date_transaction|date:'d M Y' }}</td>
                    <td>{{ transaction.amount_cryptocurrency }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.cryptocurrency.name }}</td>
                    <td>
                      <a href="{% url 'edit_transaction' transaction.pk %}" class="btn btn-m btn-primary" style="color: white"><i class="bi bi-pencil"></i></a>
                      <a href="{% url 'delete_transaction' transaction.pk %}" class="btn btn-m btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
      </div>
  </div>
  <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  <script defer src="{% static 'js/home.js' %}"></script>
</body>
</html>