{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body style="overflow: scroll; background-color: #212529;">
  <div id="carouselExample" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="{% static 'img/obr1.jpg' %}" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">Sign up and get started today.</p>
        <h1 class="display-1 fw-bolder text-capitalize">Jump start your crypto portfolio</h1>
        <a href="/register" class="btn btn-primary px-4 py-2 fs-5 mt-5">Get started</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'img/obr2.jpg' %}" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">Sign up and get started today.</p>
        <h1 class="display-1 fw-bolder text-capitalize">Jump start your crypto portfolio</h1>
        <a href="/register" class="btn btn-primary px-4 py-2 fs-5 mt-5">Get started</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'img/obr3.jpg' %}" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">Sign up and get started today.</p>
        <h1 class="display-1 fw-bolder text-capitalize">Jump start your crypto portfolio</h1>
        <a href="/register" class="btn btn-primary px-4 py-2 fs-5 mt-5">Get started</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="overview">
  <div class="container h-100 d-flex align-items-center">
    <div class="row w-100 text-center fs-4">
      <div class="col-xl">
        <i class="bi bi-people me-2"></i>
        <p class="text-white fs-4">Users: {{ users }}</p>
      </div>
      <div class="col-xl">
        <i class="bi bi-card-text me-2"></i>
        <p class="text-white fs-4">Transaction: {{  transactions }}</p>
      </div>
      <div class="col-xl">
        <i class="bi bi-coin me-2"></i>
        <p class="text-white fs-4">Cryptocurrency: {{  cryptocurencies }}</p>
      </div>
    </div>
  </div>
</section>
  <h2 class="text-center my-5 text-white">Priority</h2>
    <div class="container mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/safe.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Safe</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/free.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Free</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/use.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Simple To Use</h5>
      </div>
    </div>
  </div>
  </div>
</div>
</body>




