{% load static %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}">
</head>
<body>

  <div class="login">
    <h1 class="text-center">Login form</h1>

    {% if login_message != '' %}
      <div class="alert alert-danger" role="alert">
        {{login_message}}
      </div>
    {% endif %}

    <form class="needs-validation" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group was-validated">
        <label class="form-label" for="login_email">Email address</label>
        <input class="form-control" type="email" id="login_email" placeholder="Email address" name="login_email" required>
        <div class="invalid-feedback">
          Please enter your email address
        </div>
      </div>

      <div class="form-group was-validated">
        <label class="form-label" for="login_password">Password</label>
        <input class="form-control" type="password" id="login_password" placeholder="Password" name="login_password" required>
        <div class="invalid-feedback">
          Please enter your password
        </div>
      </div>

      <div class="form-group">
        <input class="form-check-input" type="checkbox" id="check">
        <label class="form-check-label" for="check">Remember me</label>
      </div>

      <input class="btn btn-primary w-100" type="submit" value="SIGN IN">
    </form>
    <p class="m-2">Don't have an account? <a href="/register">Sign up here.</a></p>
  </div>
{% endblock content %}

</body>
</html>