{% load static %}
{% include "navbar.html" %}

<html>
<head>
	<title>Můj kryptoměnový Watchlist</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container mt-5">
  <div class="box p-5">
    <h1 class="mb-4 text-center">Watchlist</h1>
    <div class="row">
      {% for item, item1 in cryptocurrencies %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Actual price: {{ item.price }}</p>
              <canvas id="myChart{{ item.pk }}"></canvas>
              <a href="{% url 'delete_from_watchlist' item.pk %}" class="btn btn-primary w-100 mt-5">Delete from watchlist</a>
              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              <script>
                // Get the data from an API or other source
                const data{{ item.pk }} = {
                  labels: [
                    {% for i in item1 %}
                      '{{ i.modified_at|date:'d M Y' }}',
                    {% endfor %}
                  ],
                  datasets: [{
                    label: '{{ item.name }} Price (CZK)',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                      {% for i in item1 %}
                        '{{ i.new_price }}',
                      {% endfor %}
                    ],
                  }]
                };

                // Create the chart using Chart.js
                const ctx{{ item.pk }} = document.getElementById('myChart{{ item.pk }}').getContext('2d');
                const myChart{{ item.pk }} = new Chart(ctx{{ item.pk }}, {
                  type: 'line',
                  data: data{{ item.pk }},
                  options: {}
                });
              </script>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

	<!-- Chart.js CDN -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- Bootstrap JS CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakF/toLxpN7xfoa" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>