{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-..." crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    {% if not request.session.login %}
    <a class="navbar-brand" href="{% url 'index' %}">CryptoStats</a>
    {% else %}
    <a class="navbar-brand" href="{% url 'home' %}">CryptoStats</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% if not request.session.login %}
          <a class="nav-link" href="{% url 'index' %}">Home</a>
          <li class="nav-item"><a class="nav-link" href="/crypto_dashboard2">Crypto dashboard</a></li>
          {% else %}
          <a class="nav-link" href="{% url 'home' %}">Home</a>
          <li class="nav-item"><a class="nav-link" href="/crypto_dashboard">Crypto dashboard</a></li>
          {% endif %}
        </li>
        {% if request.session.login %}
        <li class="nav-item">
          <a class="nav-link" href="/mywatchlist">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        {% endif %}
      </ul>
      {% if not request.session.login %}
      <a href="/login" class="btn btn-primary me-2" type="button">Login</a>
      <a href="/register" class="btn btn-outline-primary me-2" type="button">Register</a>
      {% else %}
      <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2" type="button">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>
</head>
<body>

</body>
</html>