{% load static %}
{% include "navbar.html" %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE5y5p5dSLdStvi2Wx4Kp4" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>
<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card">
          <div class="card-header text-center">
            <img class="profile-img mb-3" src="{% static 'img/profile.png' %}" alt="Profile Image">
            <h1 class="h4 mb-0">{{ user.fname }} {{user.lname}}</h1>
          </div>
          <div class="card-body">
            <h2>Contact Information</h2>
            <ul>
              <li>Email: {{ user.email }}</li>
            </ul>
            <a  href="{% url 'edit_profile' %}" class="btn btn-primary w-100">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js" integrity="sha384-6+b2w2q3qHjC8JXk77+AcZLz51PbWhOJghK7+OaC2/eCl3/3qK1OChOVLpymxI/o" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE5y5p5dSLdStvi2Wx4Kp4" crossorigin="anonymous"></script>
</body>
</html>