{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
  <div class="register">
    <form method="post" class="needs-validation" action="{% url 'register' %}" >
      {% csrf_token %}
      <h1 class="text-center">Register form</h1>

    {% if register_message != '' %}
      <div class="alert alert-danger" role="alert">
        {{register_message}}
      </div>
    {% endif %}

      <div class="form-group was-validated">
        <label for="register_fname" class="form-label">First name</label>
        <input type="text" class="form-control" id="register_fname" name="register_fname" required>
        <div class="invalid-feedback">Please enter your name.</div>
      </div>
      <div class="form-group was-validated">
        <label for="register_lname" class="form-label">Last name</label>
        <input type="text" class="form-control" id="register_lname" name="register_lname" required>
        <div class="invalid-feedback">Please enter your name.</div>
      </div>
      <div class="form-group was-validated">
        <label for="register_email" class="form-label">Email</label>
        <input type="email" class="form-control" id="register_email" name="register_email" required>
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>
      <div class="form-group was-validated">
        <label for="register_password" class="form-label">Password</label>
        <input type="password" class="form-control" id="register_password" name="register_password" minlength="8" required>
        <div class="invalid-feedback">Please enter a password of at least 8 characters.</div>
      </div>
      <div class="form-group was-validated">
        <label for="register_c_password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="register_c_password" name="register_c_password" minlength="8" required>
        <div class="invalid-feedback">Please confirm your password.</div>
      </div>
      <button type="submit" class="btn btn-primary w-100">SUBMIT</button>
  </form>
  </div>
</body>
</html>